h1 {
  margin-bottom: 20px;
}

.card {
  background-color: black;
}

.pagination {
  a {
    color: yellow;
    background-color: transparent;
  }
}

.btn-filter {
  background-color: transparent;
  color: yellow;
}
